sudo: required
dist: trusty
language: python
python:
  - "3.5"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq pkg-config fuse
  - sudo modprobe fuse
  - sudo chmod 666 /dev/fuse
  - sudo chown root:$USER /etc/fuse.conf
install:
  - sudo apt-get install cmake make gcc
  - ./travis_install.sh
  - cmake .
  - make
script: python3 test_all.py
