#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

QUILT_STAMPFN := patch-stamp
include /usr/share/quilt/quilt.make


CFLAGS = -pipe -W -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	mkdir -p debian/build
	cd debian/build \
	&& cmake ../../ -DCMAKE_INSTALL_PREFIX=/usr \
	                -DCMAKE_C_FLAGS="$(CFLAGS)" \
	                -DCMAKE_SKIP_RPATH=TRUE

	touch configure-stamp


build: build-stamp

build-stamp: $(QUILT_STAMPFN) configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	cd debian/build && make

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp $(QUILT_STAMPFN)

	# Add here commands to clean up after the build process.
	rm -fr debian/build
	rm -f debian/files

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/unionfsfuse.
	cd debian/build && make DESTDIR=../../debian/unionfs-fuse install

# Build architecture-independent files here.
binary-indep:
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs CREDITS NEWS examples/
	dh_installexamples


#	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

